<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
    <p class="col-md-8 fs-4">This quiz will contains total 20 questions. Each Question hold 20 points.</p>
    <h4> Rules: </h4>
    <ol>
        <li>Correct Question gives you 20 points</li>
        <li>Incorrect Question gives to -1 points</li>
        <li>You will have 10 sec to answer each question</li>
        <li>Refereshing the page will reset the Quiz</li> 
    </ol>
    <h1 style="font-family: cursive; text-align: center"> All the best </h1>
    <div class="name col-md-4 my-3">
    <label for="">Enter your name: </label>
    <input  #name type="text" class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start the Quiz</button>
</div>
